*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
background-color: #0a0c12;
color: #eef2ff;
}

body.light{
   background-color: #f0f4f8;
   color: #1a2a3a;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem 1.5rem;
    position: relative;
    z-index: 2;
}

.theme-toggle{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
}

.toggle-btn{
    border-color: #11161f;
    border: 1px solid #1e293b;
    border-radius: 50px;
    padding: 10px 16px;
    font-size: 1.2rem;
    cursor: pointer;
}

body.light .toggle-btn{
    background-color: #ffffff;
    border: 1px solid #d1d9e6;
}

.toggle-btn:hover{
border-color: #60a5fa;
}

body.light .toggle-btn:hover{
    border-color: #3b82f6;
}

.header-badge{
    font-family: 'Space Mono', monospace;
    font-size: 0.85rem;
    color: #60a5fa;
    border: 1px solid rgba(96,165,250,0.3);
    display: inline-block;
    padding: 0.35rem 1rem;
    border-radius: 20px;
    margin-bottom: 1.5rem;
    letter-spacing: 0.5px;
}

body.light .header-badge{
    color: #3b82f6;
}

.header-badge:hover{
    border-color: #60a5fa;
}


body.light .header-badge:hover{
    border-color: #3b82f6;
}


h2{
    font-size: clamp(3rem,4vw, 5rem);
    font-weight: 700;
    display: inline-block;
}

h2.accent{
    color: #60a5fa;
    border-bottom: 2px solid #60a5fa;
    display: inline-block;
}

body.light h2.accent{
    color: #3b82f6;
    border-bottom: 2px solid #3b82f6;
}

.tagline{
    font-family: 'Space Mono', monospace;
    color:#8b9bb5;
    margin: 1rem 0 2rem;
    font-size: 1rem;
}

body.light .tagline{
    color: #5a6e85;
}

.github-main{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background: #60a5fa;
    color: #ffffff;
    padding: 0.8rem 1.8rem;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Space Mono', monospace;
    font-size: 0.9rem;
    border-radius: 40px;
}

body.light .github-main{
    background: #3b82f6;
}

.github-main:hover{
    background: #3b82f6;
    transform: translateY(-2px);
}

.github-icon-svg{
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.stats-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    background: #11161f;
    padding: 1.5rem 2rem;
    border-radius: 60px;
    margin: 2.5rem 0;
    border: 1px solid #1e293b;
}


body.light .stats-row{
    background: #ffffff;
    border: 1px solid #d1d9e6;
}



.stat-item{
    text-align: center;
}

.stat-number{
    font-size: 2rem;
    font-weight: 800;
    color: #60a5fa;
    line-height: 1;
}

body.light .stat-number{
    color: #3b82f6;
}

.stat-label{
    font-size: 0.7rem;
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    color: #8b9bb5;
    letter-spacing: 1px;
}

body.light .stat-label{
    color: #5a6e85;
}

.section-title{
    font-size: 1.1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #8b9bb5;
    margin: 2rem 0 1.5rem;
    display: flex;
    align-items: center;
    gap: 12px;
}

body.liht .section-title{
    color:#5a6e85;
}

.section-title span{
    color: #60a5fa;
}

body.light .section-title span{
    color: #3b82f6;
}

.section-title::after{
    content: '';
    flex: 1;
    height: 1px;
    background: #1e293b;
}

body.light .section-title::after{
    background: #1e293b;
}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.project-card{
    background: #11161f;
    border: 1px solid #1e293b;
    border-left: 3px solid #60a5fa;
    padding: 1.5rem 1.5rem 1.3rem;
    border-radius: 20px;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

body.light .project-card{
    background: #ffffff;
    border: 1p solid #d1d9e6;
    border-left: 3px solid #3b82f6;
}

.project-card.visible{
    opacity: 1;
    transform: translateY(0);
}

.project-card:hover{
    border-color: #60a5fa;
    background: #1a2332;
}

body.light .project-card:hover{
    border-color: #3b82f6;
    background: #e8edf3;
}

.card-header{
    display: flex;
    align-items: center;
    gap:12px;
    margin-bottom: 12px;
}

.icon{
    font-size: 2rem;
}

.project-card h3{
    font-size: 1.35rem;
    margin: 0;
    font-weight: 700;
    flex: 1;
}

.project-card p{
    font-family: 'Space Mono', monospace;
    font-size: 0.75rem;
    color:#8b9bb5;
    margin-bottom: 14px;
    line-height: 1.5;
}
body.light .project-card p{
    color: #5a6e85;
}

.tags{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 12px 0;
}

.tags span{
    font-family: 'Space Mono', monospace;
    font-size: 0.6rem;
    background: var(--bg);
    padding: 4px 10px;
    border-radius: 20px;
    border: 1px solid #2d3a52;
    color: #8b9bb5;
}

body.light .tags span{
    background: #f0f4f8;
    border: 1px solid #b8c5d9;
    color:#5a6285;
}

.project-card:hover .tags span{
    border-color: #60a5fa;
    color: #60a5fa;
}

.card-links-container{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 8px;
    border-top: 1px dashed #1e293b;
    padding-top: 12px ;
    width: 100%;
}

body.light .card-links-container{
    border-top: 1px dashed #d1d9e6;
}

.card-link{
    display: inline-flex;
    align-items: center;
    font-family: 'Space Mono', monospace;
    font-size: 0.75rem;
    font-weight: 600;
    color: #60a5fa;
    text-decoration: none;
}

body.light .card-link {
    color: #3b82f6;
}

.card-link:hover{
    color: #eef2ff;
    transform: translateY(-1px);
}

body.light .card-link:hover {
    color: #1a2a3a;
}

.card-link.live-demo{
    color: #10b981;
}

body.light .card-link.lie-demo{
    color: #059669;
}

.card-link.live-demo:hover{
    color: #eef2ff;
}

body.light .card-link.live-demo:hover{
    color: #1a2a3a;
}


.link-divider{
    color: #2d3a52;
    font-size: 0.8rem;
    user-select: none;
}

body.light .link-divider{
    color:#b8c5d9;
}

.skills-section{
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.skills-section.visible{
    opacity: 1;
    transform: translateY(0);
}

.skills-pills{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 2rem 0 1rem;
}

.skill{
    font-family: 'Space Mono', monospace;
    font-size: 0.75rem;
    background: #11161f;
    padding: 6px 16px;
    border-radius: 40px;
    border: 1px solid #1e293b;
    color: #8b9bb5;
}

body.light .skill{
    background: #ffffff;
    border:  1px solid #d1d9e6;
    color: #5a6285;
}

.skill:hover{
    border-color: #60a5fa;
    color: #60a5fa;
}

body.light .skill:hover{
    border-color: #3b82f6;
    color: #3b82f6;
}

.footer.visible{
    opacity: 1;
    transform: translateY(0);
}


.footer{
    text-align: center;
    margin-top: 2rem;
    padding-top: 1.5rem;
    border-top: 1px solid #1e293b;
    font-family: 'Space Mono', monospace;
    font-size: 0.75rem;
    color: #8b9bb5;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

 
body.light .footer {
    border-top: 1px solid #d1d9e6;
    color: #5a6e85;
}

.footer a{
    color:#60a5fa;
    text-decoration: none;
}

body.light .footer a{
    color: #3b82f6;
}


@media (max-width:640px){
    .stats-row{
        border-radius: 24px;
        gap: 1.5rem;
    }
    .projects-grid{
        gap: 1rem;
    }

    .theme-toggle{
        top: 10px;
        right: 10px;
    }

    .toggle-btn{
        padding: 6px 12px;
        font-size: 1rem;
    }
}
